version: "3.4"

networks:
  shared-network:
    driver: bridge
services:
    pgAdmin:
        restart: always
        image: dpage/pgadmin4
        ports:
            - "8081:80"
        env_file: .env
        depends_on:
          - "postgres"

    postgres:
      # networks:
      #   - shared-network
      network_mode: bridge
      hostname: "host"
      ipc: host
      pid: "host"
      restart: always
      image: postgres
      container_name: "postgres_container"
      ports:
          - "5503:5432"
      env_file: .env
      volumes:
          - ./init.sql:/docker-entrypoint-initdb.d/init.sql

    app:
      network_mode: bridge
        # - shared-network
        # - bridge
      # UTS (hostname): เป็นการ isolate the hostname และ NIS (Network Information Service) name ตามแต่ละ namespaces
      hostname: "127.0.0.1"
      # inter-process communication (ipc): เป็นการ isolate SystemV IPC และ POSIX Message Queues ตามแต่ละ namespaces
      ipc: host
      # process id (pid): เป็นการ virtualized pid โดยในแต่ละ namespace จะมี pid ซ้ำกันได้ โดย pid ในแต่ละ namespace จะถูก map เป็น pid ของ host อีกที
      pid: "127.0.0.1"
      build: 
          context: .
          dockerfile: Dockerfile
      ports:
        - "8010:8080"